@import './globals.scss';

.main-header {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-image: linear-gradient(0deg, rgb(255 255 255 / 0.9) 0%, rgb(255 255 255 / 1) 100%), url('./assets/background.jpg');
  backdrop-filter: blur(2px);
  background-size: cover;

  h1 {
    margin: 0;
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: -0.02em;
  }
  .subtitle {
    margin: 0;
    color: $text-light;
    max-width: 30ch;
    text-align: center;
  }
  .button {
    margin-top: 0.5rem;
  }
}

.posts {
  background: $background-secondary;
  padding: 6rem 10vw;

  // Flex (the better way)
  /* 
  display: flex;
  flex-wrap: wrap;
  */

  // Grid (the worse way)
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 2rem;

  .post {
    flex-basis: 25rem;
    flex-grow: 1;
    background: white;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    overflow: hidden;
    text-decoration: none;
    transition: 0.3s ease;

    &:hover {
      transform: scale(0.99);
      opacity: 0.95;
    }

    img {
      width: 100%;
    }
    .post-info {
      padding: 1rem;

      h2 {
        margin: 0;
        font-weight: 500;
      }
      .date {
        margin: 0;
        color: $text-light;
      }
    }
  }
}