---
const { page } = Astro.props
---

<nav class="global-navbar">
  <a href="../" class="name">
    Sam
  </a>
  <div class="nav-links">
    <a href="about" class={page == "about" ? "highlighted" : ""}>About</a>
    <a href="mailto:sfcheng@usc.edu">Contact</a>
  </div>
</nav>